/* 
    CSS variables :
    Colors
    Fonts
*/
:root {
  --color-green: #1ed760;
  --color-green-light: #43e57d;
  --color-blue: #2941ab;
  --color-black: #000;
  --color-white: #fff;
  --color-dark-grey: #222326;
  --color-light-grey: #919496;
  --color-facebook: #405a93;

  --font-primary: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}

/* Removing default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* Animation */
@keyframes burger-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}

/* Header */
header {
  min-height: 54px;
  background-color: var(--color-black);
  color: var(--color-white);
}

header .wrapper {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 132px;
  height: 42px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu__list__item {
  font-size: 16px;
  font-family: var(--font-primary);
  padding: 28px 17px;
}

.menu__list__item a {
  padding: 28px 17px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
  transition: 0.2s ease-out;
}
.menu__list__item a:hover {
  color: var(--color-green);
}

.menu__list__item--active a {
  color: var(--color-green);
}
/* Making a full working responsive menu with CSS only that's awesome */
.burger-label {
  display: none;
}
#burger-input-trigger {
  display: none;
}
.burger-icon {
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-icon span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 50px;
  transition: 0.2s ease;
}

#burger-input-trigger:checked + label .burger-icon {
  animation: burger-animation 0.2s ease-in-out 0.2s both;
}
#burger-input-trigger:checked + label .burger-icon span:nth-child(1) {
  transform: translateY(13px);
}
#burger-input-trigger:checked + label .burger-icon span:nth-child(2) {
  width: 0;
}
#burger-input-trigger:checked + label .burger-icon span:nth-child(3) {
  transform: translateY(-13px) rotateZ(90deg);
}

/* Section */
.showcase {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-green);
  position: relative;
  overflow: hidden;
}
.showcase::before {
  min-height: 600px;
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  z-index: -1;
  background: url("../assets/images/showcaseBackground.svg") no-repeat;
  transform: rotate(0deg);
  background-position: right center;
  background-size: auto 100%;
  background-color: var(--color-blue);
}

.showcase-wrapper {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-top: -120px;
}

.showcase p {
  font-size: 14px;
  margin: 16px 0px 32px;
  text-transform: uppercase;
}

.showcase h1 {
  text-transform: uppercase;
  font-size: 60px;
}

.showcase h2 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 400;
}

.btn {
  width: 188px;
  height: 48px;
  background-color: var(--color-green);
  color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-green-light);
  transform: scale(1.05);
}

.btn-spotify {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
}

/* Footer */
footer {
  background-color: var(--color-black);
  color: #fff;
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: 400;
  padding: 100px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.top-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.top-links div {
  width: 120px;
  margin: 0 20px;
}
.top-links dt {
  color: var(--color-light-grey);
  text-transform: uppercase;
}

.top-links dd {
  text-transform: capitalize;
  margin: 20px 0;
  cursor: pointer;
}

.top-links dd:hover {
  color: var(--color-green);
}
.social-links__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__list__item {
  width: 54px;
  height: 54px;
  background-color: var(--color-dark-grey);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.social-links__list__item:last-child {
  margin-right: 0;
}

.social-link {
  width: 34px;
  height: 34px;
  background-color: var(--color-white);
}

.social-link:hover {
  background-color: var(--color-green);
}

.country {
  text-align: right;
  color: var(--color-light-grey);
  font-size: 14px;
  margin: 100px 0 0 0;
}

.bottom-links {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-links li {
  font-size: 12px;
  color: var(--color-light-grey);
  margin: 0 15px;
  cursor: pointer;
}
.bottom-links li:hover {
  color: var(--color-green);
}
.bottom-links span {
  color: var(--color-light-grey);
  font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .burger-label {
    display: block;
  }
  header .wrapper {
    align-items: center;
  }
  .menu .burger-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .menu__list {
    flex-direction: column;
    display: none;
    height: 0;
    overflow: hidden;
    transition: 0.2s ease;
  }
  .menu__list span {
    transform: rotateZ(90deg);
  }
  #burger-input-trigger:checked ~ .menu__list {
    display: flex;
    height: 100%;
  }
  #burger-input-trigger:checked ~ .burger-label {
    align-self: end;
    margin-top: 10px;
  }
  .logo {
    align-self: flex-start;
  }
  .showcase h1 {
    font-size: 40px;
  }
  .showcase h2 {
    font-size: 16px;
  }
  .btn-spotify {
    width: 140px;
    height: 38px;
    font-size: 12px;
  }
  /*footer*/
  .bottom-links {
    flex-direction: column;
  }
  .bottom-links span {
    display: block;
    margin-top: 40px;
  }
  .top-links {
    margin-top: 20px;
  }
}
